<li id="layer-thumb-{{id}}" data-id="{{id}}">
	{{!-- Selection --}}
	<input type="radio" name="selectedLayer" id="layer-picker-{{id}}" checked value="{{id}}"/>
	{{!-- Name --}}
	<label for="layer-picker-{{id}}" contenteditable="true">Layer {{id}}</label>
	{{!-- Visibility --}}
	<input type="checkbox" class="layer-thumb-visibility" checked value="{{id}}"/>
	{{!-- Opacity --}}
	{{!-- <input type="range" min="0" max="100" class="layer-thumb-opacity panel-disclosure" value="100" data-id="{{id}}"/> --}}
</li>
