{{!--<h2>Sprite</h2>
<input type="radio" name="sprite-mode" id="sprite-mode-single" value="1" checked/>
<label for="sprite-mode-single">Single</label>
<div id="sprite-mode-single-settings">--}}
	<p>
		<label for="workspace-width">Width:</label>
		<input type="number" value="{{width}}" id="workspace-width"/>
		px
	</p>
	<p>
		<label for="workspace-height">Height:</label>
		<input type="number" value="{{height}}" id="workspace-height"/>
		px
	</p>
	<button id="workspace-size-submit">{{submit-text}}</button>
{{!--	<figure id="sprite-mode-single-preview"></figure>
</div>

<input type="radio" name="sprite-mode" id="sprite-mode-multiple" value="2" disabled/>
<label for="sprite-mode-multiple">Multiple</label>
<div id="sprite-mode-multiple-settings">
	<p>
		<label for="workspace-grid-cols">Cols:</label>
		<input type="number" value="{{cols}" id="workspace-grid-cols" disabled/>
		<label for="workspace-grid-col-width">with a width of:</label>
		<input type="number" value="{{width}" id="workspace-grid-col-width" disabled/>
		pixels each
	</p>
	<p>
		<label for="workspace-grid-rows">Rows:</label>
		<input type="number" value="{{rows}" id="workspace-grid-rows" disabled/>
		<label for="workspace-grid-row-height">with a height of:</label>
		<input type="number" value="{{height}" id="workspace-grid-row-height" disabled/>
		pixels each
	</p>
	<figure id="sprite-mode-multiple-preview"></figure>
</div>

<h2>Aspect</h2>
<p>
	<label for="pixel-size">Pixel size:</label>
	<input type="number" value="{{pixelSize}" id="pixel-size"/>
	pixels
</p>
--}}
