<div class="tool">
	<input type="radio" name="tool" id="tool-{{name}}" {{#if selected}}checked{{/if}} value="{{shortcutKeyCode}}"/>
	<label for="tool-{{name}}" title="{{title}}"></label>
	<span class="tool-shortcut">{{shortcutTitle}}</span>
</div>
